.button-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 7px;
    overflow: hidden;
    background: black;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  
  .button-container::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 300%;
    left: 30px;
    background: linear-gradient(red, blue);
    animation: rotateBorder 3s linear infinite;
  }
  
  @keyframes rotateBorder {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .button-container::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: inherit;
    border-radius: inherit;
  }
  
  .button-container > .button-content {
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 2;
  }
  
  .button-container:hover {
    transform: scale(1.2);
  }
  