/* .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    color: rgb(33, 206, 33);
    font-size: 19px;
    padding-right: 20px;
    background: #050402;
    opacity: 100%;
    padding-top: 30px;
} */

/* .container > div:nth-child(1){
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}
.container > div:nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}
.container > div:nth-child(2) > div{
    display: flex;
    justify-content: cdenter;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgb(33, 206, 33);
}

.container > div:nth-child(2) > div:hover{
    color: white;
    background: rgba(33, 206, 33, 0.596)
}

.container a:hover{
    color: white;
} */

#nav-menu{
  color: #8739F9;
  background: #363636;
}

.active-scroll{
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: #C651CD 0px 4px 4px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.nav-icon{
  font-size: 20px;
  transition: font-size 0.3s ease-in-out;
}
.nav-icon:hover{
  cursor: pointer;
  color: #F74343;
  font-size: 30px;
}

#nav-menu .home,
#nav-menu .about,
#nav-menu .skills,
#nav-menu .projects,
#nav-menu .contact {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  color: #8739F9;
  font-size: 16px;
  text-decoration: none;
}

#nav-menu .home:hover,
#nav-menu .about:hover,
#nav-menu .skills:hover,
#nav-menu .projects:hover,
#nav-menu .contact:hover {
  color: #F74343;
  transform: scale(1.3);
}
