.App {
  margin: auto;
  text-align: center;
}

/* <------------------Navbar Start---------------------> */
#nav-menu {
  color: #00ffff;
  background: #0f1624;
}

.active {
  color: #f74343 !important;
  border-bottom: 2px solid #00ffff;
}

.active-scroll {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: #c651cd 0px 4px 4px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.nav-icon {
  font-size: 20px;
  transition: font-size 0.3s ease-in-out;
}
.nav-icon:hover {
  cursor: pointer;
  color: #f74343;
  font-size: 30px;
}

#nav-menu .home,
#nav-menu .about,
#nav-menu .skills,
#nav-menu .projects,
#nav-menu .contact {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  color: #00ffff;
  font-size: 16px;
  text-decoration: none;
}

#nav-menu .home:hover,
#nav-menu .about:hover,
#nav-menu .skills:hover,
#nav-menu .projects:hover,
#nav-menu .contact:hover {
  color: #f74343;
  transform: scale(1.3);
}

/* <------------------Navbar End---------------------> */
