.App {
  margin: auto;
  text-align: center;
}

/* <------------------Navbar Start---------------------> */
#nav-menu {
  color: #00ffff;
  background: #0f1624;
}

.active {
  color: #f74343 !important;
  border-bottom: 2px solid #00ffff;
}

.active-scroll {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: #c651cd 0px 4px 4px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.nav-icon {
  font-size: 20px;
  transition: font-size 0.3s ease-in-out;
}
.nav-icon:hover {
  cursor: pointer;
  color: #f74343;
  font-size: 30px;
}

#nav-menu .home,
#nav-menu .about,
#nav-menu .skills,
#nav-menu .projects,
#nav-menu .contact {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  color: #00ffff;
  font-size: 16px;
  text-decoration: none;
}

#nav-menu .home:hover,
#nav-menu .about:hover,
#nav-menu .skills:hover,
#nav-menu .projects:hover,
#nav-menu .contact:hover {
  color: #f74343;
  transform: scale(1.3);
}

/* <------------------Navbar End---------------------> */

.scroll-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.scroll-to-top {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ffff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.scroll-btn-icon {
  border-radius: 50%;
  padding: 5px;
  box-shadow: #00ffff 0px 0px 10px 5px;
  border: 2px solid #00ffff;
  animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(1rem);
  }
}

/* mobile screen */
@media (max-width: 767px) {
  .scroll-to-top {
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 1rem;
    right: 0rem;
    z-index: 999;
  }
}


body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #00FFFF;
  border-radius: 50%;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #00FFFF #C651CD;
}
body::-webkit-scrollbar-thumb {
  background-color: #00FFFF;
  border-radius: 6px;
}
body::-webkit-scrollbar-track {
  background-color: #C651CD;
}