@import url("https://fonts.googleapis.com/css2?family=Caramel&family=Dancing+Script:wght@700&family=Play&family=Rubik+Gemstones&family=Rubik+Storm&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.avatar {
  --border-color: #8739f9;
  border: 4px solid var(--border-color);
  padding: 6px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  animation: spinAvatar 3s linear;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes spinAvatar {
  0% {
    transform: translateX(55%) rotate(-72deg);
  }
  25% {
    transform: translateX(40%) rotate(-144deg);
  }
  50% {
    transform: translateX(25%) rotate(-216deg);
  }
  75% {
    transform: translateX(10%) rotate(-288deg);
  }
  100% {
    transform: translateX(0%) rotate(-360deg);
  }
}
